<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Créer un compte</h1>
    <form action="/user/register" method="POST">
        <input type="text" name="name" placeholder="Prénom" required><br><br>
        <input type="text" name="lastName" placeholder="Nom de famille" required><br><br>
        <input type="number" name="age" placeholder="Âge" required><br><br>
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Mot de passe" required><br><br>
        <button type="submit">S'inscrire</button>
    </form>
    <p>Déjà un compte ? <a href="/login">Connecte-toi ici</a></p>
</body>
</html>
